<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Mohit_Ansi-Controller</name>
  <description>This VM is using to run the ansible playbooks over the target&apos;s. Installed ansible version 2.9.27.</description>
  <remoteFS>/home/ec2-user</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>65.2.182.40</host>
    <port>22</port>
    <credentialsId>Mohit_Ansi-Controller</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>Mohit_Ansi-Controller</label>
  <nodeProperties/>
</slave>